.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.content span {
  color: orangered;
  font-size: 20px !important;
}
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light.ant-menu-root.ant-menu-inline, :where(.css-dev-only-do-not-override-42nv3w).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-inline, :where(.css-dev-only-do-not-override-42nv3w).ant-menu-light.ant-menu-root.ant-menu-vertical, :where(.css-dev-only-do-not-override-42nv3w).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-vertical{
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
  background-color: rgb(64, 47, 47) !important;
  height: 50px !important;
  width:10px
}
:where(.css-dev-only-do-not-override-42nv3w).ant-pagination{
  margin-left: 300px !important
}

:where(.css-dev-only-do-not-override-42nv3w).ant-form-item .ant-form-item-label >label{
  font-size: 25px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
